	  
        body{font-family: calibri; text-align: center; overflow-x: hidden;}
		
		header{
		background-color: #00296b;
		width: 111em;
		margin: auto;
		margin-top: 2em;
		height: 9em;
		border-radius: 15px 15px;}
		
		nav{height: 6.25em; text-align: center;}
		
		a.nav{background-color: #013993; 	color: white; 	text-decoration: none; 
		font-size: 2.5em;
		padding: 0.75em;}
		
		a.nav:hover{
		color: black;
		background-color: white;}
		
		
		section{width: 116em; text-align: center; margin: auto;}
		
		article{
		border-radius: 15px 15px;
		height: 20em;
		width: 112em;
		background-color: #00296b;
		margin: 0em 2em 4.0625em 2em;}
		
		h1.head2{ font-size: 3em; color: white; font-weight: bold;    margin-bottom: -1em;}
		h1.head1{ font-size: 2em; color: white; font-weight: bold; padding: 0.5em; margin-bottom: -1em; }
		p.head{	color: white;	font-size: 1.5em; padding: 1em; margin-bottom: -20em;}
		
		#foot footer{
		border-radius: 15px 15px;
		background-color: #666666;
		height: 12em;}
		
		#foot a{
		color: #424242; 
		text-decoration: none;
        font-size: 18px;
		display: block;}
		
		#foot a:hover{color: black; font-weight: bold;}
		
		nav.two {margin-left: 8em;	display: inline-block;}
		nav.four {margin: 0em 5em 0em 1em; display: inline-block;}
		
		img.welcome{height: 18em; width: 100%; border-radius: 15px 15px; margin: auto;}
		img.welcome1{height: 18em; width: 25em;}
		img.welcome2{height: 18em; width: 30em;}
		
		p.welcome{color: white; font-size: 20px; padding: 1em; padding-left: 10em;}
		
		img.logo{float: left; margin-left: 7em; width: 8em; height: 8em; margin-right: -8em;}
		
		img.howto{ height: 18em; width: 20em; margin-top: -8em;  margin-left: -105em; position: absolute;}
		img.howto1{ height: 18em; width: 20em; margin-top: -8em;  margin-left: -106.75em; position: absolute;}
		img.howto2{ height: 18em; width: 20em; margin-top: -8em;  margin-left: -109em; position: absolute;}
		
		img.one{border-right: 5px solid black;}
		
		li{float: left; margin-left: 10em; font-size: 1.2em; color: white;}
		ul{width: 100em;}
		
		#howto{margin-left: 10em;}
		#howto1{margin-left: 10em;}
		#howto2{margin-left: 10em;}
		
		article.article{height: 35em; width: 80em; margin: auto; margin-bottom: 5em;}
		iframe.leash{ margin-left: -90em; margin-top: 30em; frameborder: none;}
		  /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #013993; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	text-align: center;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 

button.aside{background-color: #013993; color: white; border: none;  width: 6.8em; height: 6.5em; margin-left: -54.8em; margin-top:-0.5em; position: absolute; background-image: url("images/bar.jpg");}

button.aside:hover{border: 1px grey inset;}

img.img{width: 8em; height: 6em; margin-left: -1em;}

p.aside{color: white; margin-top: -0.9em;}


nav.top{margin-right: -11.5em;}
 
h1.aside{margin-top: -0.3em; font-size: 3em; color: white;}
